// At Break Library
@import '../libs/at-break';
@import '../libs/highlight.github';

// About Manu Morante
@import "//codepen.io/unavezfui/pen/FsGHp.css";

$bp-color: #8DA1B9;

.container {
  width: 80%;
  margin: 0 auto;
}

h3 span {
  color: saturate($bp-color, 1);
}

.at-xsmall,
.at-small,
.at-medium,
.at-large {
  display: none;
}

@include at-xsmall {
  .at-xsmall {
    display: inline
  }
}

@include at-small {
  .at-small {
    display: inline
  }
}

@include at-medium {
  .at-medium {
    display: inline
  }
}

@include at-large {
  .at-large {
    display: inline
  }
}

// Decoration
body {
  padding-bottom: 200px;
  color: darken($bp-color, 15);
  background-color: rgba($bp-color, .1);
}

h1 {
  color: darken($bp-color, 30);
  margin: 40px 0 15px 0;
}

h2 {
  margin: -10px 0 15px 0;
}

.current-size {
  display: block;
  margin: 20px 0;
  padding: 2.5rem;
  font-size: 24px;
  background-color: rgba($bp-color, .2);
  border-radius: 1rem;
}

header {
  margin: 0 0 50px 0;
}

.alert-info {
  position: absolute;
  bottom: 0;
}
