@import 'at-break';

// Example:
$bp-color: #8DA1B9;

h3 span{
  color: saturate($bp-color, 1);
}


.at-xsmall, .at-small, .at-medium, .at-large,
.at-xsmall-only, .at-small-only, .at-medium-only, .at-large-only { display: none }

@include at-xsmall { .at-xsmall { display: inline }}
@include at-small  { .at-small { display: inline  }}
@include at-medium { .at-medium { display: inline }}
@include at-large  { .at-large { display: inline  }}

@include at-xsmall-only { .at-xsmall-only { display: inline }}
@include at-small-only  { .at-small-only  { display: inline }}
@include at-medium-only { .at-medium-only { display: inline }}
@include at-large-only  { .at-large-only  { display: inline }}


// Decoration
body{
  color: darken($bp-color, 15);
  background-color: rgba($bp-color,.1);
}

h1{
  color: darken($bp-color, 30);
  margin: 40px 0 15px 0;
}

h2{
  margin: -10px 0 15px 0;
}

h3{
  font-weight: normal;
  background-color: rgba($bp-color,.2);
  padding: 2.5rem;
  border-radius: 1rem;
}

header{
  margin: 0 0 50px 0;
}

.alert-info{
  position: absolute;
  bottom: 0;
}


@import "//codepen.io/unavezfui/pen/FsGHp.css";